In [1]:
import py_entitymatching as em
import logging

In [2]:
table_a = em.read_csv_metadata('anime_1.csv', key='ID')
table_b = em.read_csv_metadata('animePlayer.csv', key='ID')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
candidate_set = em.read_csv_metadata('candidate_set.csv', ltable=table_a,rtable=table_b)
len(candidate_set)

81318

In [4]:
sample = em.sample_table(candidate_set,600)

In [5]:
sample.head(1)

,_id,ltable_ID,rtable_ID,ltable_Title,ltable_Genres_Merged,ltable_Episodes,ltable_Year,ltable_Type,ltable_ProductionHouse_Merged,rtable_Title,rtable_Genres_Merged,rtable_Episodes,rtable_Year,rtable_Type,rtable_ProductionHouse_Merged
86,86,1377,24,Mobile Suit Gundam 00 Second Season (Gundam 00),ActionDramaMechaMilitarySci-FiSpace,25,2008-2009,TV,SunriseMainichiBroadcastingBandaiEntertainment,Haikyuu!! Second Season,BasedonaMangaSchoolClubSchoolLifeSports,2+,2015 - ?,TV,ProductionI.G

In [6]:
em.to_csv_metadata(sample,'samples.csv')

File already exists at samples.csv; Overwriting it
Metadata file already exists at samples.metadata. Overwriting it

True

In [7]:
gold = em.label_table(sample,'gold')

Column name (gold) is not present in dataframe

In [9]:
#cols = ['ltable_Title', 'ltable_Genres', 'ltable_Type', 'ltable_ProductionHouse', 'ltable_Year',
#       'rtable_Title', 'rtable_Genres', 'rtable_Type', 'rtable_ProductionHouse', 'rtable_Year']

#for col in cols:
#    gold[col] = gold[col].astype(unicode)

In [8]:
gold.head()

,_id,ltable_ID,rtable_ID,ltable_Title,ltable_Genres_Merged,ltable_Episodes,ltable_Year,ltable_Type,ltable_ProductionHouse_Merged,rtable_Title,rtable_Genres_Merged,rtable_Episodes,rtable_Year,rtable_Type,rtable_ProductionHouse_Merged,gold
86,86,1377,24,Mobile Suit Gundam 00 Second Season (Gundam 00),ActionDramaMechaMilitarySci-FiSpace,25,2008-2009,TV,SunriseMainichiBroadcastingBandaiEntertainment,Haikyuu!! Second Season,BasedonaMangaSchoolClubSchoolLifeSports,2+,2015 - ?,TV,ProductionI.G,1
169,169,110,38,Shakugan no Shana Movie (Shakugan no Shana: The Movie),ActionFantasySupernatural,1,2007-2007,Movie,J.C.StaffFUNimationEntertainmentASCIIMediaWorksShowgate,Steins;Gate The Movie,BasedonaVisualNovelDramaTimeTravel,1,2013,Movie,WHITEFOX,1
395,395,1146,67,Otome wa Boku ni Koishiteru Special,ComedyRomanceSchool,1,2007-2007,Special,Feel,Hajime no Ippo: The Fighting! Special,BoxingHandtoHandCombat,1,2003,DVD Special,MADHOUSE,1
407,407,1215,67,Fireball Special,ComedySci-Fi,1,2009-2009,Special,JinnisAnimationStudios,Hajime no Ippo: The Fighting! Special,BoxingHandtoHandCombat,1,2003,DVD Special,MADHOUSE,0
458,458,1054,68,Sola Specials,ComedyRomanceSliceofLifeSupernatural,2,2007-2007,Special,BandaiVisualNomad,Fighting Spirit Special,BoxingHandtoHandCombat,1,2003,DVD Special,MADHOUSE,0

In [11]:
#em.to_csv_metadata(gold, 'transform_genres/gold.csv',encoding='utf-8')

In [12]:
gold = em.read_csv_metadata('gold_manually_marked.csv',ltable=table_a,rtable=table_b)

In [13]:
gold.head(1)

,_id,ltable_ID,rtable_ID,ltable_Title,ltable_Genres_Merged,ltable_Episodes,ltable_Year,ltable_Type,ltable_ProductionHouse_Merged,rtable_Title,rtable_Genres_Merged,rtable_Episodes,rtable_Year,rtable_Type,rtable_ProductionHouse_Merged,gold
0,21622,3,17,Suzumiya Haruhi no Shoushitsu,ComedyMysteryRomanceSchoolSci-FiSupernatural,1,2010-2010,Movie,KyotoAnimationKadokawaShotenBandaiEntertainmentAnimationDo,Suzumiya Haruhi no Shoushitsu,DramaPsychologicalSciFiTimeTravel,1,2010,Movie,KyotoAnimation,1

In [136]:
setIJ = em.split_train_test(gold, train_proportion=0.5)

In [137]:
I = setIJ['train']
J = setIJ['test']
(len(I), len(J))

(300, 300)

In [138]:
I.head(1)

,_id,ltable_ID,rtable_ID,ltable_Title,ltable_Genres_Merged,ltable_Episodes,ltable_Year,ltable_Type,ltable_ProductionHouse_Merged,rtable_Title,rtable_Genres_Merged,rtable_Episodes,rtable_Year,rtable_Type,rtable_ProductionHouse_Merged,gold
347,8828,1597,1570,Space Cobra (Space Adventure Cobra),ActionAdventureSci-FiSpace,31,1982-1983,TV,TokyoMovieShinshaRightStuf,Adventures of Horus: Prince of the Sun,Fantasy,1,1968,Movie,ToeiAnimation,0

In [139]:
em.to_csv_metadata(I,'setI.csv')

True

In [140]:
J.head(1)

,_id,ltable_ID,rtable_ID,ltable_Title,ltable_Genres_Merged,ltable_Episodes,ltable_Year,ltable_Type,ltable_ProductionHouse_Merged,rtable_Title,rtable_Genres_Merged,rtable_Episodes,rtable_Year,rtable_Type,rtable_ProductionHouse_Merged,gold
458,52874,2706,8914,Mobile Suit Gundam ZZ,ComedyDramaMechaMilitarySci-FiShounenSpace,47,1986-1987,TV,Sunrise,Mobile Suit Gundam ZZ,FuturisticMechaOuterSpaceSciFi,47,1986 - 1987,TV,Sunrise,1

In [141]:
em.to_csv_metadata(J,'setJ.csv')

True

In [142]:
dt = em.DTMatcher(name='DecisionTree', random_state=0)
rf = em.RFMatcher(name='RandomForest', random_state=0)
svm = em.SVMMatcher(name='SVM')
nb = em.NBMatcher(name='NaiveBayes')
lg = em.LogRegMatcher(name='LogisticRegression')
ln = em.LinRegMatcher(name='LinearRegression')

In [143]:
# Names of the matchers
(dt.name, rf.name,svm.name,nb.name, lg.name, ln.name)

('DecisionTree',
 'RandomForest',
 'SVM',
 'NaiveBayes',
 'LogisticRegression',
 'LinearRegression')

In [144]:
feature_table = em.get_features_for_matching(table_a, table_b)
feature_table.head(1)

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x10ef38de8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [145]:
em._match_s

{'abs_norm': <function py_entitymatching.feature.simfunctions.abs_norm>,
 'affine': <function py_entitymatching.feature.simfunctions.affine>,
 'cosine': <function py_entitymatching.feature.simfunctions.cosine>,
 'dice': <function py_entitymatching.feature.simfunctions.dice>,
 'exact_match': <function py_entitymatching.feature.simfunctions.exact_match>,
 'hamming_dist': <function py_entitymatching.feature.simfunctions.hamming_dist>,
 'hamming_sim': <function py_entitymatching.feature.simfunctions.hamming_sim>,
 'jaccard': <function py_entitymatching.feature.simfunctions.jaccard>,
 'jaro': <function py_entitymatching.feature.simfunctions.jaro>,
 'jaro_winkler': <function py_entitymatching.feature.simfunctions.jaro_winkler>,
 'lev_dist': <function py_entitymatching.feature.simfunctions.lev_dist>,
 'lev_sim': <function py_entitymatching.feature.simfunctions.lev_sim>,
 'monge_elkan': <function py_entitymatching.feature.simfunctions.monge_elkan>,
 'needleman_wunsch': <function py_entitymatching.feature.simfunctions.needleman_wunsch>,
 'overlap_coeff': <function py_entitymatching.feature.simfunctions.overlap_coeff>,
 'rel_diff': <function py_entitymatching.feature.simfunctions.rel_diff>,
 'smith_waterman': <function py_entitymatching.feature.simfunctions.smith_waterman>}

In [146]:
em._match_t

{'alphabetic': <function py_entitymatching.feature.tokenizers.tok_alphabetic>,
 'alphanumeric': <function py_entitymatching.feature.tokenizers.tok_alphanumeric>,
 'dlm_dc0': <function py_entitymatching.feature.tokenizers.tok_delim>,
 'qgm_2': <function py_entitymatching.feature.tokenizers.tok_qgram>,
 'qgm_3': <function py_entitymatching.feature.tokenizers.tok_qgram>,
 'wspace': <function py_entitymatching.feature.tokenizers.tok_wspace>}

In [147]:
em._match_c['corres']

[('ID', 'ID'),
 ('Title', 'Title'),
 ('Episodes', 'Episodes'),
 ('ProductionHouse', 'ProductionHouse'),
 ('Genres', 'Genres'),
 ('Type', 'Type'),
 ('Year', 'Year'),
 ('Rating', 'Rating'),
 ('ProductionHouse_Merged', 'ProductionHouse_Merged'),
 ('Genres_Merged', 'Genres_Merged')]

In [148]:
feat_subset = feature_table[4:12]
#feat_subset.append(feature_table[34:40])
feat_subset.head(1)

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
4,Title_Title_jac_qgm_3_qgm_3,Title,Title,qgm_3,qgm_3,jaccard,<function Title_Title_jac_qgm_3_qgm_3 at 0x10ef38b18>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [149]:
feature_vectors_I_old = em.extract_feature_vecs(I, feature_table=feat_subset, attrs_after='gold')
feature_vectors_J_old = em.extract_feature_vecs(J, feature_table=feat_subset, attrs_after='gold')

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:03
0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:03

In [150]:
feature_vectors_I_old.fillna(0, inplace=True)
feature_vectors_J_old.fillna(0, inplace=True)

In [151]:
result = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I_old, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='precision', random_state=0)
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,0.925926,0.944444,0.958333,1.000000,0.884615,0.942664
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,0.961538,0.850000,1.000000,0.888889,0.920000,0.924085
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.904762,0.958333,0.894737,0.954545,0.942476
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,0.962963,0.904762,0.960000,0.894737,0.923077,0.929108
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,0.960000,0.950000,0.956522,0.937500,0.954545,0.951713

In [152]:
resultRecall = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I_old, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='recall', random_state=0)
resultRecall['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,0.961538,0.85,0.958333,0.842105,0.884615,0.899318
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,0.961538,0.85,0.916667,0.842105,0.884615,0.890985
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,0.884615,0.80,0.833333,0.789474,0.846154,0.830715
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.95,0.958333,0.894737,0.807692,0.922152
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,1.000000,0.95,1.000000,0.894737,0.923077,0.953563
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,0.923077,0.95,0.916667,0.789474,0.807692,0.877382

In [153]:
resultF1 = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I_old, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='f1', random_state=0)
resultF1['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,0.943396,0.894737,0.958333,0.914286,0.884615,0.919074
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,0.961538,0.850000,0.956522,0.864865,0.901961,0.906977
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,0.938776,0.888889,0.909091,0.882353,0.916667,0.907155
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.926829,0.958333,0.894737,0.875000,0.930980
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,0.981132,0.926829,0.979592,0.894737,0.923077,0.941073
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,0.941176,0.950000,0.936170,0.857143,0.875000,0.911898

In [154]:
result['selected_matcher']

In [155]:
splitIForDebug = em.split_train_test(feature_vectors_I_old, train_proportion=0.5)

In [156]:
A = splitIForDebug['train']
B = splitIForDebug['test']

In [157]:
svm.fit(table=A,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = svm.predict(table=B, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 100.0% (46/46)
Recall : 82.14% (46/56)
F1 : 90.2%
False positives : 0 (out of 46 positive predictions)
False negatives : 10 (out of 104 negative predictions)

In [158]:
# The matcher using the Title feature set is generating large number of False negatives leading to a poor Recall,

In [159]:
# Since we couldnt debug SVM we the best classifer that can be debugged ( Random Forest)

In [160]:
em.vis_debug_rf(rf, A, B, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID'], target_attr='gold')

In [161]:
# We need more features to better handle certain scenarios

In [162]:
# Hence we are going to add all the features and generate new feature set to perform the needed matching

In [163]:
feature_vectors_I = em.extract_feature_vecs(I, feature_table=feature_table, attrs_after='gold')
feature_vectors_J = em.extract_feature_vecs(J, feature_table=feature_table, attrs_after='gold')

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:04
0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:04

In [164]:
feature_vectors_I.head(2)

,_id,ltable_ID,rtable_ID,ID_ID_exm,ID_ID_anm,ID_ID_lev_dist,ID_ID_lev_sim,Title_Title_jac_qgm_3_qgm_3,Title_Title_cos_dlm_dc0_dlm_dc0,Title_Title_jac_dlm_dc0_dlm_dc0,...,ProductionHouse_Merged_ProductionHouse_Merged_jwn,ProductionHouse_Merged_ProductionHouse_Merged_exm,ProductionHouse_Merged_ProductionHouse_Merged_jac_qgm_3_qgm_3,Genres_Merged_Genres_Merged_lev_dist,Genres_Merged_Genres_Merged_lev_sim,Genres_Merged_Genres_Merged_jar,Genres_Merged_Genres_Merged_jwn,Genres_Merged_Genres_Merged_exm,Genres_Merged_Genres_Merged_jac_qgm_3_qgm_3,gold
347,8828,1597,1570,0,0.983093,2,0.5,0.137931,0.0,0.0,...,0.721026,0.0,0.048780,23.0,0.115385,0.287546,0.287546,0.0,0.000000,0
504,16654,2947,3126,0,0.942738,4,0.0,1.000000,1.0,1.0,...,0.821055,0.0,0.196078,30.0,0.333333,0.580159,0.580159,0.0,0.115942,1

In [165]:
feature_vectors_I.fillna(0, inplace=True)
feature_vectors_J.fillna(0, inplace=True)
feature_vectors_I.head(2)
feature_vectors_J.head(2)

,_id,ltable_ID,rtable_ID,ID_ID_exm,ID_ID_anm,ID_ID_lev_dist,ID_ID_lev_sim,Title_Title_jac_qgm_3_qgm_3,Title_Title_cos_dlm_dc0_dlm_dc0,Title_Title_jac_dlm_dc0_dlm_dc0,...,ProductionHouse_Merged_ProductionHouse_Merged_jwn,ProductionHouse_Merged_ProductionHouse_Merged_exm,ProductionHouse_Merged_ProductionHouse_Merged_jac_qgm_3_qgm_3,Genres_Merged_Genres_Merged_lev_dist,Genres_Merged_Genres_Merged_lev_sim,Genres_Merged_Genres_Merged_jar,Genres_Merged_Genres_Merged_jwn,Genres_Merged_Genres_Merged_exm,Genres_Merged_Genres_Merged_jac_qgm_3_qgm_3,gold
458,52874,2706,8914,0,0.303567,4,0.00,1.00,1.000000,1.0,...,1.000000,1.0,1.0,32.0,0.238095,0.600866,0.600866,0.0,0.101449,1
280,31956,1170,6674,0,0.175307,3,0.25,0.25,0.333333,0.2,...,0.400673,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0

In [166]:
result = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='precision', random_state=0)

In [167]:
result

OrderedDict([('selected_matcher',
              <py_entitymatching.matcher.rfmatcher.RFMatcher at 0x10eff47d0>),
             ('cv_stats',                  Name  \
              0        DecisionTree
              1        RandomForest
              2                 SVM
              3          NaiveBayes
              4  LogisticRegression
              5    LinearRegression

                                                                                       Matcher  \
              0          <py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>
              1          <py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>
              2        <py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>
              3          <py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>
              4  <py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>
              5  <py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>

                 Num folds    Fold 1  Fold 2    Fold 3    Fold 4    Fold 5  Mean score
              0          5  1.000000    0.85  0.923077  0.857143  1.000000    0.926044
              1          5  1.000000    1.00  1.000000  1.000000  1.000000    1.000000
              2          5  1.000000    1.00  1.000000  1.000000  1.000000    1.000000
              3          5  1.000000    0.90  0.958333  0.947368  1.000000    0.961140
              4          5  0.962963    0.90  1.000000  0.900000  0.923077    0.937208
              5          5  1.000000    0.95  0.960000  1.000000  1.000000    0.982000  )])

In [168]:
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,1.000000,0.85,0.923077,0.857143,1.000000,0.926044
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,1.000000,1.00,1.000000,1.000000,1.000000,1.000000
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,1.000000,1.00,1.000000,1.000000,1.000000,1.000000
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.90,0.958333,0.947368,1.000000,0.961140
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,0.962963,0.90,1.000000,0.900000,0.923077,0.937208
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,1.000000,0.95,0.960000,1.000000,1.000000,0.982000

In [169]:
resultRecall = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='recall', random_state=0) 
resultRecall['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,1.000000,0.85,1.000000,0.947368,0.923077,0.944089
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,0.961538,0.95,0.958333,0.894737,0.884615,0.929845
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,0.307692,0.40,0.375000,0.368421,0.423077,0.374838
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.90,0.958333,0.947368,0.923077,0.945756
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,1.000000,0.90,1.000000,0.947368,0.923077,0.954089
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,0.961538,0.95,1.000000,1.000000,0.923077,0.966923

In [170]:
resultF1 = em.select_matcher([dt,rf, svm, nb, lg, ln], table=feature_vectors_I, 
        exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
        target_attr='gold', metric='f1', random_state=0) 
resultF1['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x10eff4e10>,5,1.000000,0.850000,0.960000,0.900000,0.960000,0.934000
1,RandomForest,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x10eff47d0>,5,0.980392,0.974359,0.978723,0.944444,0.938776,0.963339
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x10eff4310>,5,0.470588,0.571429,0.545455,0.538462,0.594595,0.544105
3,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x10efe2210>,5,1.000000,0.900000,0.958333,0.947368,0.960000,0.953140
4,LogisticRegression,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x10efe2a50>,5,0.981132,0.900000,1.000000,0.923077,0.923077,0.945457
5,LinearRegression,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x10efe27d0>,5,0.980392,0.950000,0.979592,1.000000,0.960000,0.973997

In [171]:
result['selected_matcher']

In [172]:
splitIForDebug = em.split_train_test(feature_vectors_I, train_proportion=0.5)

In [173]:
A = splitIForDebug['train']
B = splitIForDebug['test']

In [174]:
em.vis_debug_rf(rf, A, B, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID'], target_attr='gold')

In [175]:
# 1. Train RF using A
# 2. Predict B using RF
# 3. Evaluate predictions
rf.fit(table=A,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = rf.predict(table=B, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 96.61% (57/59)
Recall : 93.44% (57/61)
F1 : 95.0%
False positives : 2 (out of 59 positive predictions)
False negatives : 4 (out of 91 negative predictions)

In [176]:
# 1. Train RF using I
# 2. Predict J using RF
# 3. Evaluate predictions
rf.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = rf.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 100.0% (120/120)
Recall : 94.49% (120/127)
F1 : 97.17%
False positives : 0 (out of 120 positive predictions)
False negatives : 7 (out of 180 negative predictions)

In [177]:
#em.vis_debug_rf(rf, feature_vectors_I, feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID'], target_attr='gold')

In [178]:
# 1. Train DT using I
# 2. Predict J using RF
# 3. Evaluate predictions
dt.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = dt.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 98.41% (124/126)
Recall : 97.64% (124/127)
F1 : 98.02%
False positives : 2 (out of 126 positive predictions)
False negatives : 3 (out of 174 negative predictions)

In [179]:
# 1. Train SVM using I
# 2. Predict J using RF
# 3. Evaluate predictions
svm.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = svm.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 100.0% (60/60)
Recall : 47.24% (60/127)
F1 : 64.17%
False positives : 0 (out of 60 positive predictions)
False negatives : 67 (out of 240 negative predictions)

In [180]:
# 1. Train NB using I
# 2. Predict J using RF
# 3. Evaluate predictions
nb.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = nb.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 98.29% (115/117)
Recall : 90.55% (115/127)
F1 : 94.26%
False positives : 2 (out of 117 positive predictions)
False negatives : 12 (out of 183 negative predictions)

In [181]:
# 1. Train LG using I
# 2. Predict J using RF
# 3. Evaluate predictions
lg.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = lg.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 96.67% (116/120)
Recall : 91.34% (116/127)
F1 : 93.93%
False positives : 4 (out of 120 positive predictions)
False negatives : 11 (out of 180 negative predictions)

In [182]:
# 1. Train LN using I
# 2. Predict J using RF
# 3. Evaluate predictions
ln.fit(table=feature_vectors_I,
       exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
       target_attr='gold')
predicted_values = ln.predict(table=feature_vectors_J, exclude_attrs=['_id', 'ltable_ID', 'rtable_ID', 'gold'],
              append=True, target_attr='predicted', inplace=False)
eval_result = em.eval_matches(predicted_values, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 99.2% (124/125)
Recall : 97.64% (124/127)
F1 : 98.41%
False positives : 1 (out of 125 positive predictions)
False negatives : 3 (out of 175 negative predictions)